/* GENERAL */
:root {
    --color-primary: #000000;
    --color-accent: #784488;
    --color-text: #555555;
    --color-border-1: #FFFFFF;
    --color-border-2: #A3A3A3;
    --color-border-3: #353535;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--color-text);
}

section {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
    padding: 0 7rem;
    max-width: 95rem;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* NAV */

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

a:not(.project-btn) {
    color: var(--color-primary);
    text-decoration: none;
    text-decoration-color: var(--color-border-1);
}

a:not(.project-btn):hover {
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: var(--color-accent);
}

/* HAMBURGER */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.875rem;
    height: 1.375rem;
    border: none;
    cursor: pointer;
    margin-right: 6.5rem;
}

.hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

.hamburger.open span:first-child {
    transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:last-child {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: 0.1rem solid var(--color-border-3);
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: var(--color-border-3);
    color: var(--color-border-1);
}

.btn-color-1:hover {
    background: var(--color-primary);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: 0.1rem solid var(--color-border-1);
}

/* PROFILE */

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 70vh;
}

.section__pic-container img {
    width: 25rem;
}

.section__text {
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ABOUT */

#about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__text__p1,
.title {
    text-align: center;
}

.section-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 0 10rem;
    padding-top: 6rem;
}

.about-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-containers {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.about-pic {
    border-radius: 2rem;
}

/* EXPERIENCE */

#experience {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-details-container {
    margin: 0 10rem;
    padding-top: 6rem;
}

.experience-sub-title {
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.75rem;
}

.details-container {
    padding: 1.5rem;
    border: 0.1rem solid var(--color-border-2);
    border-radius: 2rem;
    text-align: center;
    flex: 1;
}

.details-container p {
    margin-bottom: 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.9rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    gap: 0.5rem;
}

article .icon,
.details-container .icon {
    cursor: default;
}

/* PROJECTS */

#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: auto;
}

.project-title {
    margin: 1rem;
    color: var(--color-primary);
}

.project-btn {
    color: var(--color-primary);
    border-color: var(--color-border-2);
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0.8rem;
}



/* CONTACT */

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border: 0.1rem solid var(--color-border-2);
    border-radius: 2rem;
    padding: 0.5rem;
    gap: 2rem;
    margin-top: 6rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

/* FOOTER */

footer {
    height: 20rem;
}

footer nav ul {
    justify-content: center;
    padding: 5rem 0;
}

footer p {
    text-align: center;
}